<%= form_with model: @communication, url: communications_path do |form| %>
  <% if @communication.errors.any? %>
    <div class="error-messages">
      <h4><%= pluralize(@communication.errors.count, "error") %> prohibited this message from being saved:</h4>
      <ul>
        <% @communication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :message %>
      <%= form.textarea :message %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>



    <div>
      <%= form.submit "Send" %>
    </div>
<% end %>
