<div class="container">
  <p>Hi, my name is</p>

  <div class="my-6">
    <h1 class="text-4xl font-bold antialiased leading-none textNameShadow">Andres Felipe Muñoz</h1>
    <p class="text-lg italic">Structural Engineer</p>
  </div>

  <div class="container flex flex-col justify-items-end mb-9">
    <p>I calculate and design different types of structures</p>
    <p class="ml-8">...and also indulge in coding and visual design.</p>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl mb-5 text-center font-titleBasis">About</div>
    <%= render "pages/indexSections/about" %>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl mb-5 text-center font-titleBasis">Experience</div>
    <%= render "pages/indexSections/experience" %>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl mb-5 text-center font-titleBasis">Skills & Abilities</div>

    <%= render "pages/indexSections/skillsAndAbilities" %>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl mb-5 text-center font-titleBasis">Software and Platforms</div>

    <%= render "pages/indexSections/softwareAndPlatforms" %>

  </div>

  <div class="container section text-justify">
    <div class="text-2xl mb-5 textTitleSection text-center font-titleBasis">And more!</div>

    <%= render "pages/indexSections/andMore" %>
  </div>


  <div class="container flex flex-col text-justify mt-15">
    <%= render "pages/indexSections/getInTouch" %>
  </div>

</div>
