<div class="container">
  <p>Hi, my name is</p>

  <div class="my-6">
    <h1 class="text-4xl font-bold antialiased leading-none textNameShadow">Andres Felipe Muñoz</h1>
    <p class="text-lg italic">Structural Engineer</p>
  </div>

  <div class="container flex flex-col justify-items-end mb-9">
    <p>I calculate and design different types of structures</p>
    <p class="ml-8">...and also indulge in coding and visual design.</p>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl textTitleSection text-center font-titleBasis">About</div>
    <p>I&#39m a Structural Engineer by training, problem-solver by nature, and curious human by default. Born in 🇨🇴 Colombia, currently based in 🇦🇺 Australia, and always building something — whether it's a reinforced concrete frame, a project timeline, or a weirdly specific spreadsheet that somehow makes life easier.</p>
    <p>With over 10 years of experience in structural design (and a Master&#39s to back it up), I&#39ve tackled everything from urban infrastructure to housing projects. I&#39m recognized by Engineers Australia, which means I speak fluent load paths, detailing, and deadlines.</p>
    <p>But I don&#39t stop at technical. I like things that work and make sense — whether I&#39m modeling in 3D, sketching out concepts, or dabbling in frontend code just to see how it ticks. I learn fast, adapt faster, and I&#39m not afraid of a messy challenge (as long as there&#39s a plan to clean it up).</p>
    <p>Reliable, curious, and just a little obsessed with doing things the right way — if it needs building, organizing, or figuring out, I&#39m probably already on it.</p>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl textTitleSection text-center font-titleBasis">Experience</div>
    <p>My career began at ESDILAB S.A.S, where I was involved in reviewing concrete structures and steel truss designs. I later served as a graduate assistant at the Colombian School of Engineering, overseeing materials testing and supporting research and development. During that time, I also taught a semester-long course on Introduction to Civil Engineering, aiming to inspire the next generation of engineers.</p>
    <p>Following this, I participated in the audit of a high-voltage transmission line project with Ingedisa S.A., assessing steel tower designs, concrete footings, and technical reports. As a freelance engineer, I have led the structural design of steel and concrete buildings in high seismic zones, including schools, public sports courts, and roofing systems. My work with local government entities such as InderHuila and the Neiva Mayor&#39s Office included reviewing designs and contributing to urban improvement projects like bikeways and recreational areas. Since 2020, I&#39ve continued to work independently, combining technical design with design verification across a range of structural projects.</p>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl textTitleSection text-center font-titleBasis">Skills & Abilities</div>
  </div>

  <div class="container section text-justify">
    <div class="text-2xl textTitleSection text-center font-titleBasis">Software and Platforms</div>

    <div class="container flex flex-col md:flex-row-reverse">
      <p class="flex">Here are some of the software tools I regularly use for structural calculations and design. This isn&#39t a complete or exhaustive list—just the ones I currently work with most often. I&#39m always open to learning new programs as needed.</p>

      <div class="flex flex-wrap md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:mr-4 md:border-r-2 border-dashed">
        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_autocad.svg", alt:"Autocad Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_cype.svg", alt:"Cype Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_etabs.svg", alt:"Etabs Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_safe.svg", alt:"Safe Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_sap.svg", alt:"Sap Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_space_gass.svg", alt:"Space Gass Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_tekla_structures.svg", alt:"Tekla Structures Logo", class: "object-contain h-16" %>
        </div>
      </div>
    </div>

  </div>

  <div class="container section text-justify">
    <div class="text-2xl textTitleSection text-center font-titleBasis">And more!</div>

    <div class="container flex flex-col md:flex-row">
      <p class="flex">Outside of my main career, I enjoy programming, photography, rendering, and drawing. So far, I&#39ve published one project—a free tool for gesture drawing practice called Pose Player—and I&#39m currently developing another, aimed at viewing, creating, and editing BVBS files for the construction industry.</p>

      <div class="flex flex-wrap grow md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:ml-4 md:border-l-2 border-dashed">
        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_blender.svg", alt:"Blender Logo", class: "object-contain h-16 " %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_designer.svg", alt:"Affinity Designer Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_photo.svg", alt:"Affinity Photo Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_javascript.svg", alt:"Javascript Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_python.svg", alt:"Python Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_ruby.svg", alt:"Ruby Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
          <%= image_tag "icons/logo_rails.svg", alt:"Ruby on Rails Logo", class: "object-contain h-16" %>
        </div>
      </div>
    </div>
  </div>


  <div class="container flex flex-col text-justify mt-15">
    <div class="text-xl textTitleSection text-center font-titleBasis">Get in Touch with me !</div>
    <p class="text-center">Feel free to connect with me through one of my social links below or an email</p>

    <%= button_to 'Contact', contact_path, method: :get, class: "
    bg-button cursor-pointer inset-ring hover: hover:bg-buttonHover hover:drop-shadow-md/100 hover:drop-shadow-buttonShadow/100 text-lg text-textColor font-bold px-8 py-3 rounded-md mt-5 duration-200 ease-in-out
    " %>

    

  </div>



</div>
