<%# Lets load the data first %>
<% projects = projects_hash['projects'] %>

<div>
  <h1 class="font-bold text-4xl mb-10 text-center font-titleBasis text-(--color-textColorTitle) textTitleShadow">Projects</h1>

  <div class="container mb-5 mx-2 pr-4 text-justify" >
    <p class=""> Below you can find the projects where I was the lead structural engineer, that is, the one making the
      key design decisions and choosing how to actually build the thing. I've picked the ones that were either
      particularly challenging, interesting, or just good examples of the kind of work I do.
    </p>

    <p class="mt-5">Just so you know, not every project I've touched is here, just the ones worth talking about.</p>
  </div>
</div>

<div class="section hidden md:block">
  <table class="table-fixed  border border-(--color-tableBorderExternal) rounded-xs border-separate">
    <thead class="bg-(--color-tableHeaderBackground) border border-(--color-tableBorderInternal) sticky top-0">
      <tr>
        <th class="w-1/7 border border-(--color-tableBorderInternal) p-1">Project Name</th>
        <th class="w-1/14 border border-(--color-tableBorderInternal) p-1">Structural System</th>
        <th class="w-1/12 border border-(--color-tableBorderInternal) p-1">System Material</th>
        <th class="w-2/7 border border-(--color-tableBorderInternal) p-1">Short Description</th>
        <th class="w-1/14 border border-(--color-tableBorderInternal) p-1">Software Used</th>
        <th class="w-1/14 border border-(--color-tableBorderInternal) p-1">Area (m²)</th>
        <th class="w-1/14 border border-(--color-tableBorderInternal) p-1">Year</th>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project| %>
        <tr class="hover:bg-(--color-tableRowBackground) transition-colors duration-150">
          <td class="border border-(--color-tableBorderInternal) p-1 rounded-sm "><%= project['project_name'] %></td>
          <td class="border border-(--color-tableBorderInternal) p-1 text-center rounded-sm"><%= project['structural_system'] %></td>
          <td class="border border-(--color-tableBorderInternal) p-1 text-center rounded-sm"><%= project['system_material'] %></td>
          <td class="border border-(--color-tableBorderInternal) p-1 rounded-sm"><%= project['short_description']%></td>
          <td class="border border-(--color-tableBorderInternal) p-1 text-center rounded-sm"><%= project['software_used']%></td>
          <td class="border border-(--color-tableBorderInternal) p-1 text-center rounded-sm"><%= project['area'] %></td>
          <td class="border border-(--color-tableBorderInternal) p-1 text-center rounded-sm"><%= project['year'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="section md:hidden">
  <ul class="list-none">
    <% projects.each do |project| %>
      <li class="border border-(--color-tableBorderInternal) p-2 mb-2 rounded-sm hover:bg-(--color-tableRowBackground) transition-colors duration-150">
        <h3 class="font-bold text-lg text-center mb-2 underline decoration-(--color-skillTitleDecoration) italic"><%= project['project_name'] %></h3>
        <p ><strong class="underline">Structural System:</strong> <%= project['structural_system'] %></p>
        <p><strong class="underline">System Material:</strong> <%= project['system_material'] %></p>
        <p><strong class="underline">Description:</strong> <%= project['short_description'] %></p>
        <p><strong class="underline">Software Used:</strong> <%= project['software_used'] %></p>
        <p><strong class="underline">Area (m²):</strong> <%= project['area'] %> </p>
        <p><strong class="underline">Year:</strong> <%= project['year'] %></p>
      </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="text-lg text-center font-titleBasis">If you feel i can help you with a project, contact me !</div>

  <%= button_to 'Contact', contact_path, method: :get, class: "
  bg-button cursor-pointer inset-ring hover:bg-buttonHover hover:drop-shadow-md/100 hover:drop-shadow-buttonShadow/100 text-lg text-textColor font-bold px-8 py-3 rounded-md mt-5 duration-200 ease-in-out" %>

  <div class="container flex flex-row justify-center mt-4 gap-4 ">
      <a href="https://www.linkedin.com/in/andres-felipe-m/?locale=en_US">
      <%= inline_svg_tag "icons/logo_linkedin.svg", alt:"LinkedIn Logo", class: "object-contain h-7 fill-textColor hover:drop-shadow-md/100 hover:drop-shadow-buttonShadow/100 hover:stroke-button hover:stroke-2" %>
      </a>

      <a href="https://github.com/Andrefe91">
      <%= inline_svg_tag "icons/logo_github.svg", alt:"Github Logo", class: "object-contain h-7 fill-textColor hover:drop-shadow-md/100 hover:drop-shadow-buttonShadow/100 hover:stroke-button hover:stroke-2" %>
      </a>
  </div>
</div>
