<div class="container flex flex-col md:flex-row ">
    <p class="flex">Outside of my main career, I enjoy programming, photography, rendering, and drawing. So far, I&#39ve published one project—a free tool for gesture drawing practice called Pose Player—and I&#39m currently developing another, aimed at viewing, creating, and editing BVBS files for the construction industry.</p>

    <div class="flex flex-wrap grow md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:ml-4 md:border-l-2 border-dashed content-center">
        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_blender.svg", alt:"Blender Logo", class: "object-contain h-16 " %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_designer.svg", alt:"Affinity Designer Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_photo.svg", alt:"Affinity Photo Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_javascript.svg", alt:"Javascript Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_python.svg", alt:"Python Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_ruby.svg", alt:"Ruby Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_rails.svg", alt:"Ruby on Rails Logo", class: "object-contain h-16" %>
        </div>
    </div>
</div>
