<div class="container flex flex-col md:flex-row ">
    <div class="container">
        <p>When I&#39m not calculating a structure, I&#39m usually building something else entirely. I dabble in programming, photography, rendering, and drawing, basically anything that involves creating something.</p>
        <p>I&#39ve actually shipped a project called <span class="underline decoration-wavy decoration-emerald-400 italic font-bold">Pose Player</span>, a free tool for gesture drawing practice. Currently working on another tool for viewing and editing BVBS files in construction, because someone has to make working with those things less painful to deal with.</p>
    </div>

    <div class="flex flex-wrap grow md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:ml-4 md:border-l-2 border-dashed content-center">
        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_blender.svg", alt:"Blender Logo", class: "object-contain h-16 " %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_designer.svg", alt:"Affinity Designer Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_photo.svg", alt:"Affinity Photo Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_javascript.svg", alt:"Javascript Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_react.svg", alt:"React Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_python.svg", alt:"Python Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_ruby.svg", alt:"Ruby Logo", class: "object-contain h-16" %>
        </div>

        <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
            <%= image_tag "icons/logo_rails.svg", alt:"Ruby on Rails Logo", class: "object-contain h-16" %>
        </div>
    </div>
</div>
