<div class="container flex flex-col md:flex-row-reverse">
    <p class="flex">Here are the tools I use to turn ideas into calculations and calculations into actual buildings. It&#39s not every program I&#39ve ever touched, just the ones that earn their keep on my projects. I pick up new software when the job calls for it, because good engineers adapt to the problem, not the other way around.</p>

    <div class="flex flex-wrap md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:mr-4 md:border-r-2 border-dashed content-center">
    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_autocad.svg", alt:"Autocad Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_cype.svg", alt:"Cype Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_etabs.svg", alt:"Etabs Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_safe.svg", alt:"Safe Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_sap.svg", alt:"Sap Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_space_gass.svg", alt:"Space Gass Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_tekla_structures.svg", alt:"Tekla Structures Logo", class: "object-contain h-16" %>
    </div>
    </div>
</div>
