<div class="container flex flex-col md:flex-row-reverse">
    <p class="flex">Here are some of the software tools I regularly use for structural calculations and design. This isn&#39t a complete or exhaustive list—just the ones I currently work with most often. I&#39m always open to learning new programs as needed.</p>

    <div class="flex flex-wrap md:min-w-md gap-x-5 gap-y-4 justify-center-safe md:mr-4 md:border-r-2 border-dashed content-center">
    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_autocad.svg", alt:"Autocad Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_cype.svg", alt:"Cype Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_etabs.svg", alt:"Etabs Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_safe.svg", alt:"Safe Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_sap.svg", alt:"Sap Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_space_gass.svg", alt:"Space Gass Logo", class: "object-contain h-16" %>
    </div>

    <div class="flex-shrink-0 drop-shadow-md/30 hover:scale-115 hover:drop-shadow-md/100 hover:drop-shadow-icon-shadow/100 duration-100 ease-in-out transform-gpu">
        <%= image_tag "icons/logo_tekla_structures.svg", alt:"Tekla Structures Logo", class: "object-contain h-16" %>
    </div>
    </div>
</div>
