<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Andres Muñoz" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png"> %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'apple-touch-icon', type: 'image/png' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-linear-165 from-primary to-secondary  min-h-screen flex flex-col font-textBasis text-textColor">
    <div class="alert"> <%= flash[:alert] %> </div>
    <main class="container mx-auto mt-0 px-5 py-2 flex flex-col flex-grow border-r-2 border-l-2 border-borderColor/12">

      <nav class="container flex justify-end mb-5">
        <div class="flex text-lg">
          <%= render "layouts/navLinks", links: [
            ["Home", root_path],
            ["Projects", projects_path],
            ["Web Tools", tools_path],
            ["Contact", contact_path]
          ] %>
        </div>
      </nav>

      <div class="container flex flex-col items-center grow">
        <%= yield %>
      </div>


      <%= render "layouts/footbar" %>
    </main>
  </body>
</html>


